@model IEnumerable<TV_Buddy.Models.TVSInRooms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TVS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TVS.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.RoomName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TVSInRoomsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TVSInRoomsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TVSInRoomsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
