@model IEnumerable<TV_Buddy.Models.Rooms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WallHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WallLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceFromSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xbox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bluray)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WallHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WallLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceFromSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xbox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bluray)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
